<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
  </div>
  <% end %>
</div>
