* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  color: #7d7d7d;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  left: 0;
  position: relative;
}

h1, h2, h3 {
  color: #ff691d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #ff691d;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.separator {
  height: 1px;
  width: 150px;
  background: #ff691d;
  margin: 0 auto;
  margin-bottom: 10px;
}

#posts {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  h2 a {
    text-decoration: none;
    color: #ff691d;
  }

  h2 a:hover { background: none;}

  .post {
    background: #fff;
    margin-bottom: 1em;
    padding: 0.5em .7em;
    border-radius: 5px;

    img {
      max-width: 100%;
    }

    .title {
      text-align: left;
      font-weight: 75;
      font-size: 1.5em;
    }

    .excerpt {
      text-align: left;
      color: #333;
      font-weight: 600;
    }

    .excerpt, img, .subtitle {
      margin-bottom: 25px;
    }

    .body {
      width: 95%;
      margin: 0 auto;
    }
  }
}

#post-presenter {
  background: #fff;
  padding: 0.5em .7em;
  border-radius: 5px;

  .image {
    margin: 25px auto;
    width: 85%;
    display: flex;
    justify-content: center;
  }

  .author { text-align: right; }

  .subtitle, .author, img {
    margin-bottom: 25px;
  }

  .subtitle, .body { text-align: center; }
  .body { width: 75%; margin: 0 auto; }

  img {
    max-width: 100%;
  }
}

.container, .logo {
  margin: 0 auto;
}

.container {
  width: 93%;
  min-width: 320px;
}

header {
  a { text-decoration: none;}

  .logo {
    display: flex;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    color: #333;
  }

  .logo img {
    max-width: 100px;
    margin: 0 6px;
  }

  .menu-toggler {
    float: left;
  }
}

nav {
  .menu {
    left: -200px;
    height: 100%;
    position: fixed;
    width: 200px;
  }

  li {
    padding: 1em;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    text-align: right;
    list-style: none;
  }
}

#administrator-view {
  td {
    padding: 5px;
    border: none;
  }
  tr:nth-child(odd) {
    background: #fff;
  }
  tr:nth-child(even) {
    background: #f8f8f8;
  }
}

@media (min-width: 480px) {

}

@media (min-width: 592px) {

}

@media (min-width: 768px) {
  #posts {
    .post {
      .body {
        width: 85%;
      }
    }
  }
}

@media (min-width: 980px) {
  #posts {
    .post {
      .body {
        width: 75%;
      }
    }
  }
}

@media (min-width: 1280px) {
  header {
    .menu-toggler {
      display: none;
    }

    .logo {
      justify-content: center;
      height: 6rem;
      font-size: 1.5em;
    }

    .logo img {
      max-width: 130px;
      margin: 0 6px;
    }
  }

  nav {
    background: #fff;
    box-shadow: 0 1px 3px #ccc;

    .menu {
      left: auto !important;
      height: auto;
      position: relative;
      width: 1200px;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .menu h3 {
      display: none;
    }

    li {
      float: left;
      background: #fff;
    }
  }

  .container {
    width: 1200px;
  }

  #posts{
    justify-content: space-between;

    .post {
      width: 48%;
    }
    .post:first-of-type {
      flex-grow: 2;
      width: 100%;
    }

    .post:not(:first-of-type) {
      .body, .subtitle, .separator { display: none; }
    }
  }
}
