<div class="container">
  <header>
    <div class="menu-toggler">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    
    <div class="logo">
      UM SITE
      <%= image_tag('webedia_logo') %>
      GROUP
    </div>
  </header>
</div>
