<nav>
  <div class="menu">
    <ul>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
      <li>LOREM IPSUM</li>
    </ul>
  </div>
</nav>
